@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Open+Sans&display=swap');


:root{
    --amarelo-clarinho: #15ff21;
    --amarelo-escurinho: #000000;
    --amarelo-escuro: #DED0B6;
    --amarelo-queimado: #BBAB8C;
    --font-titulo: "Kode Mono", monospace;
    --font-texto: "Playfair Display", serif;

}

body{
    background-color: var(--amarelo-clarinho);
    color: var(--amarelo-escurinho);
    font-family: var(--font-titulo);
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 36px;
}

.titulo-principal span{
    color: rgb(255, 255, 255);
}

.botao {
    font-family: var(--font-texto);
    font-size: medium;
    background-color: var(--amarelo-queimado);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    border-bottom: 4px solid var(--amarelo-escuro);
    border-left: 4px solid var(--amarelo-escuro);
    border-right: 4px solid var(--amarelo-escuro);
    border-top: none;

}
.botoes {
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0 0 40px 40px;
}

.botao.ativo{
    background-color:var(--amarelo-escuro) ;
    border-bottom: var(--amarelo-escurinho);
}
.abas-textos{
     background-color: #106410;
     padding: 40px;
     border-radius: 0 0 40px 40px;
}

.abas-conteudo.ativo{
    display: block;
}
.abas-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

@media  screen and (min-width:768px) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}