@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

:root{
    --roxo-escuro: #5dfff4;
    --roxo-arosado: #75bcff;
    --roxo-arosado-claro: #ffffff;
    --rosa-claro: #FDE2F3;
    --cinza: #ffffffc0;
    --font-titulo: "Dekko", cursive, monospace;
    --font-texto: "Dekko", cursive, serif;
}

body{
    background-color: var(--roxo-arosado);
    color: var(--roxo-arosado-claro);
    font-family: var(--font-titulo);
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
text-align: left;
width: 100%;
font-size: 36px;
}

.titulo-principal span{
color: var(--cinza);
}

.botao {
font-family: var(--font-texto);
font-size: 18px;
background-color: #0b7e57;
color: rgb(173, 255, 240);
display: flex;
justify-content: center;
align-items: center;
padding: 1em;
width: 100%;
border-bottom: 4px solid var(--roxo-arosado-claro);
border-left: 4px solid var(--roxo-arosado-claro);
border-right: 4px solid var(--roxo-arosado-claro);
border-top: none;
}

.botoes {
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0 0 40px 40px;
}
.botao.ativo{
    background-color: #091802;
    color: 4px solid rgb(133, 30, 30);


}
.abas-textos{
    background-color: #0e271f;
    padding: 80px;
    border-radius: 0 0 40px 40px;
}

.abas-conteudo.ativo{
  display: block;
}

.abas-conteudo{
  display: none;
}

.aba-conteudo-titulo-principal{
  font-size: 28px;
  text-align: center;
}

.aba-conteudo-titulo-secundario{
  text-align: center;
  color: #00fff2;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .botoes{
            display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}

.contador{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}
.contador-digito-texto{
    color: var(--cinza);
    font-size: 40px;
    margin: 0;
}

.contador-digito-numero{
    font-size: 70px;
    margin: 0;
}